<Files ~ "^.*\.([Hh][Tt][Aa])">
Order Allow,Deny
Deny From All
Satisfy All
</Files>

<IfModule mod_headers.c>
  Header set X-UA-Compatible "IE=Edge"
  <FilesMatch "\.(appcache|crx|css|eot|gif|htc|ico|jpe?g|js|m4a|m4v|manifest|mp4|oex|oga|ogg|ogv|otf|pdf|png|safariextz|svg|svgz|ttf|vcf|webm|webp|woff|xml|xpi)$">
    Header unset X-UA-Compatible
  </FilesMatch>
</IfModule>

ErrorDocument 400 /erro
ErrorDocument 401 /erro
ErrorDocument 403 /erro
ErrorDocument 404 /erro
ErrorDocument 500 /erro

# Ative o HSTS (Strict-Transport-Security)
Header always set Strict-Transport-Security "max-age=31536000; includeSubDomains; preload"

# X-Frame-Options
Header always set X-Frame-Options "SAMEORIGIN"

# X-Content-Type-Options
Header always set X-Content-Type-Options "nosniff"

# Referrer-Policy
Header always set Referrer-Policy "policy"

# Política de Permissões (CORS)
Header always set Access-Control-Allow-Origin "origin"
Header always set Permissions-Policy "geolocation=(); midi=();notifications=();push=();sync-xhr=();accelerometer=(); gyroscope=(); magnetometer=(); payment=(); camera=(); microphone=();usb=(); xr=();speaker=(self);vibrate=();fullscreen=(self);"  

<IfModule mod_rewrite.c>

RewriteEngine On

RewriteRule ^informacoes\/([a-z,0-9,A-Z,_-]+)\/?$ pg-seo.php?url=$1 [NC,L]

# SE A PÁGINA ESTIVER DENTRO DO SOURCE UTILIZAR ESSA OTIMIZAÇÃO DE URL
RewriteRule ^categoria\/([a-z,0-9,_-]+)\/([0-9-]+)\/([0-9-]+)?$ produtos.php?id=$2&father_id=$3 [NC,L]   
RewriteRule ^subcategoria\/([a-z,0-9,_-]+)\/([0-9-]+)\/([0-9-]+)?$ produtos.php?id=$2&father_id=$3 [NC,L]
RewriteRule ^produto\/([a-z,0-9,_-]+)\/([0-9-]+)\/([,|0-9-]+)?$ prod.php?id=$2&cat_id=$3 [NC,L]

RewriteRule ^categoria/categoria-teste-1/?$ produtos.php?id=1&father_id=0 [NC,L]
RewriteRule ^categoria/categoria-teste-1\/([a-z,0-9,_-]+)\/([0-9-]+)\/?$ produtos.php?id=1&father_id=0 [NC,L]
RewriteRule ^categoria/categoria-teste-2/?$ produtos.php?id=2&father_id=0 [NC,L]
RewriteRule ^categoria/categoria-teste-2\/([a-z,0-9,_-]+)\/([0-9-]+)\/?$ produtos.php?id=2&father_id=0 [NC,L]
RewriteRule ^categoria/categoria-teste-3/?$ produtos.php?id=2&father_id=0 [NC,L]
RewriteRule ^categoria/categoria-teste-3\/([a-z,0-9,_-]+)\/([0-9-]+)\/?$ produtos.php?id=2&father_id=0 [NC,L]
RewriteRule ^produto/testestestes/?$ prod.php?id=1&cat_id=1 [NC,L]
RewriteRule ^produto/testestestes\/([a-z,0-9,_-]+)\/([0-9-]+)\/?$ prod.php?id=1&father_id=1 [NC,L]
RewriteRule ^produto/produto-teste-2/?$ prod.php?id=2&cat_id=2 [NC,L]
RewriteRule ^produto/produto-teste-2\/([a-z,0-9,_-]+)\/([0-9-]+)\/?$ prod.php?id=2&father_id=2 [NC,L]
RewriteRule ^produto/produto-teste-3/?$ prod.php?id=3&cat_id=2 [NC,L]
RewriteRule ^produto/produto-teste-3\/([a-z,0-9,_-]+)\/([0-9-]+)\/?$ prod.php?id=3&father_id=2 [NC,L]
RewriteRule ^produto/produto-teste-4/?$ prod.php?id=4&cat_id=2 [NC,L]
RewriteRule ^produto/produto-teste-4\/([a-z,0-9,_-]+)\/([0-9-]+)\/?$ prod.php?id=4&father_id=2 [NC,L]
RewriteRule ^produto/produto-teste-5/?$ prod.php?id=5&cat_id=2 [NC,L]
RewriteRule ^produto/produto-teste-5\/([a-z,0-9,_-]+)\/([0-9-]+)\/?$ prod.php?id=5&father_id=2 [NC,L]
RewriteRule ^produto/produto-teste-6/?$ prod.php?id=6&cat_id=1 [NC,L]
RewriteRule ^produto/produto-teste-6\/([a-z,0-9,_-]+)\/([0-9-]+)\/?$ prod.php?id=6&father_id=1 [NC,L]
RewriteRule ^categoria/kit/?$ produtos.php?id=10&father_id=0 [NC,L]
RewriteRule ^categoria/kit\/([a-z,0-9,_-]+)\/([0-9-]+)\/?$ produtos.php?id=10&father_id=0 [NC,L]

RewriteRule ^([a-z,0-9,A-Z,_-]+)\/?$ $1.php [NC]